<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation d'un etudiant</title>
</head>
<body>
    <h3>Creation d'un etudiant</h3>
    <form action="/add" method="POST">
        <input type="text" name="nom" placeholder="nom">
        <input type="text" name="prenom" placeholder="prenom">
        <input type="text" name="adresse" placeholder="adresse">
        <br> </br>
        <input type="button" name="submit" value="enregistrer">
    
</body>
</html>